Package: com.shade.hortus
Name: Hortus
Depends: mobilesubstrate, preferenceloader, applist
Version: 1.0
Architecture: iphoneos-arm
Description: Hook's Law for iOS 9
Maintainer: Shade Zepheri
Author: Shade Zepheri
Section: Tweaks
