<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>HBPackageNameHeaderCell</string>
			<key>packageIdentifier</key>
			<string>com.shade.hortus</string>
			<key>showVersion</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.shade.hortus</string>
			<key>PostNotification</key>
			<string>com.shade.hortus/ReloadPrefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.shade.hortus</string>
			<key>PostNotification</key>
			<string>com.shade.hortus/ReloadPrefs</string>
			<key>key</key>
			<string>senabled</string>
			<key>label</key>
			<string>Spring Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Stiffness</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
  		<string>BetterPSSliderTableCell</string>
			<key>min</key>
			<integer>1</integer>
			<key>max</key>
			<integer>400</integer>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>com.shade.hortus/ReloadPrefs</string>
			<key>defaults</key>
			<string>com.shade.hortus</string>
			<key>key</key>
			<string>stiff</string>
			<key>default</key>
			<real>300</real>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Damping</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
  		<string>BetterPSSliderTableCell</string>
			<key>min</key>
			<integer>1</integer>
			<key>max</key>
			<integer>40</integer>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>com.shade.hortus/ReloadPrefs</string>
			<key>defaults</key>
			<string>com.shade.hortus</string>
			<key>key</key>
			<string>damp</string>
			<key>default</key>
			<real>30</real>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Mass</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
  		<string>BetterPSSliderTableCell</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>2</integer>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>com.shade.hortus/ReloadPrefs</string>
			<key>defaults</key>
			<string>com.shade.hortus</string>
			<key>key</key>
			<string>mass</string>
			<key>default</key>
			<real>1</real>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Velocity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
  		<string>BetterPSSliderTableCell</string>
			<key>min</key>
			<integer>1</integer>
			<key>max</key>
			<integer>30</integer>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>com.shade.hortus/ReloadPrefs</string>
			<key>defaults</key>
			<string>com.shade.hortus</string>
			<key>key</key>
			<string>velo</string>
			<key>default</key>
			<real>20</real>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>1</string>
			<key>defaults</key>
			<string>com.shade.hortus</string>
			<key>PostNotification</key>
			<string>com.shade.hortus/ReloadPrefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>duration</string>
			<key>label</key>
			<string>Animation Speed</string>
			<key>validTitles</key>
			<array>
				<string>x1 (Default)</string>
				<string>x2</string>
				<string>x3</string>
				<string>x4</string>
				<string>x5</string>
				<string>x6</string>
				<string>x7</string>
				<string>x8</string>
				<string>x9</string>
			</array>
			<key>validValues</key>
			<array>
				<real>1</real>
				<real>0.5</real>
				<real>0.33</real>
				<real>0.25</real>
				<real>0.2</real>
				<real>0.16</real>
				<real>0.142</real>
				<real>0.125</real>
				<real>0.11</real>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.shade.hortus</string>
			<key>PostNotification</key>
			<string>com.shade.hortus/ReloadPrefs</string>
			<key>key</key>
			<string>sexempt</string>
			<key>label</key>
			<string>Spring Only in SpringBoard</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
    <key>cellClass</key>
    	<string>HBTwitterCell</string>
    	<key>label</key>
    	<string>Shade Zepheri</string>
    	<key>user</key>
    	<string>ShadeZepheri</string>
		</dict>
		<dict>
			<key>action</key>
			<string>sendEmail</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Email Support</string>
		</dict>
	</array>
	<key>title</key>
	<string>Hortus</string>
</dict>
</plist>
