Package: com.shade.hortus
Name: Hortus
Depends: mobilesubstrate, preferenceloader, applist
Architecture: iphoneos-arm
Description: Hook's Law for iOS 9
Depiction: http://shade-zepheri.github.io/depic/index.html?p=com.shade.hortus
Maintainer: Shade Zepheri <ziroalpha@gmail.com>
Author: Shade Zepheri <ziroalpha@gmail.com>
Section: Tweaks
Version: 1.4-9+debug
Installed-Size: 356
